@keyframes movePath {
    0% { transform: translateX(0) translateY(0); }
    25% { transform: translateX(78.5px) translateY(50px); }
    50% { transform: translateX(157px) translateY(100px); }
    75% { transform: translateX(235.5px) translateY(50px); }
    100% { transform: translateX(314px) translateY(0); }
  }

  
.temporaryforall {
    display: flex;
    justify-content: space-between;
    padding: 100px ;
    padding-top: 200px;
    div{
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: black;
    }
    .temporaryforball{
        background-color: aqua;
    }
}
.temporaryforabi{
    border: 2px solid blue;
    animation: movePath 4s infinite forwards ;
    transition: 8s;


}
.temporaryforquermez{
    border: 2px solid red;
}
.temporaryforball{

}